html {
	height: 100%;
}

body {
	font-size: 100%;
	background-color: #bde8f0;
	/*min-height: 100%;*/
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}

img,
object,
video {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: white;
}

header {
	overflow: hidden;
	width: 100%;
	background-color: #3f3f3f;
	color: white;
	display: block;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
	border-bottom: 1px #4f4f4f solid;
}

.nav-up {
    top: -210px;
}

p {
	margin: .5em auto;
}

#top-space {
	background-color: transparent;
	height: 56px;
}

#my-name {
	font-family: Lobster, arial, helvetica, sans-serif;
	font-size: 2em;
	float: left;
	margin: .25em 0 .25em .625em;
}

#menu-trigger {
	float: right;
	margin-right: 1em;
	margin-top: .6em;
	padding: 0.5em;
	border: 1px solid #4f4f4f;
}

#nav {
	display: none;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	clear: both;
}

nav li {
	list-style-type: none;
	padding: .625em 2em;
	border-top: 1px solid #4f4f4f;
}

nav li a {
	display: block;
}

.clicked {
    background: #5f5f5f;
  }

#portrait-container h1 {
	margin-top: 0;
}

#main-section {
	width: 80%;
	max-width: 75em;
	overflow: hidden;
	padding-bottom: 6.125em;
}

#main-section h1 {
	margin-bottom: .15em;
}

section {
	color: #3f3f3f;
	font-family: Vollkorn, serif;
	margin-left: auto;
	margin-right: auto;
}

section a {
	color: #3f3f3f;
	text-decoration: underline;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 2% auto 0 auto;
	background-color: #3f3f3f;
	font-size: .85em;
	color: white;
	overflow: hidden;
	clear: both;
	padding: .25em 0; /* for testing */
}

footer p {
	float:left;
}

footer a {
	color: white;
	text-decoration: underline;
}

#fgroup {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

/* skillset graph styles begin here. */	

#hireable-and-projects, #graph {
	width: 100%;
	overflow: hidden;
}

#graph-container {
	margin: .5em 0;
}

#adjacent-directions {
	display: none;
}

#my-graph {
	background-color: #5e5e5e;
	color: white;
	margin: 1em 0 1.5em 0;
	padding: .625em 2em .75em 2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
}

.graph-skill {
	margin-top: .75em;
}

.graph-skill:first-child {
	margin-top: 0;
}

.skill-bar {
	height: 1.5em;
	width: 5%;
	background-color: white;
	border-radius: 5px;
	margin-top: .10em;
}

.skill-bar:last-child {
	margin-bottom: .5em;
}

#skill-measure{
	height: 3px;
	width: 100%;
	margin-top: 15px;
	background-color: white;
	background: -webkit-linear-gradient(left, yellow , red);
    background: -o-linear-gradient(right, yellow, red);
    background: -moz-linear-gradient(right, yellow, red);
    background: linear-gradient(to right, yellow , red);
}

.skill-caption {
	width: 100%;
}

#yellow {
	float: left;
	color: yellow;
}

#red {
	float: right;
	color: white;
	text-shadow: 0 0 8px red;
}

/* end skillset graph styles */

#pictures {
	display: none;
}

/* begin media queries */

@media screen and (min-width: 37.5em) {

	#top-space {
		background-color: #3f3f3f;
	}

	#menu-trigger {
		display: none;
	}
	
	nav {
		float: right;
	}

	#nav {
		display: block !important; /* !important used to override inline style { display: none; } injected by .slideToggle() */
		float: right;
	}

	nav li {
		float: left;
		padding: 0;
		margin: 1.30em 2em 0 0;
		border-top: none;
		background: transparent !important; /* !important used to override inline style { background: #5f5f5f; } .$('#nav li').click(function() */
	}

}

@media screen and (min-width: 43.75em) {

	.one-half-container {
		width: 47%;
	}

	.one-half-container-graph {
		width: 41%;
	}

	#hireable, #projects {
		display: inline;
	}

	#hireable {
		float: left;
	}

	#projects {
		float: right;
	}

	#pictures {
		display: block;
		width: 100%;
		background-size: contain;
		background: #433623 url("../images/pantheon-medium.jpg") no-repeat center;
		overflow: hidden;
	}

	#portrait-container {
		width: 80%;
		height: auto;
		margin: 5% auto;
		color: white;
		font-family: Vollkorn, serif;
		overflow: hidden;
	}

	#portrait-container div {
		float: left;
		height: 144px;
		margin-right: 1.5em;
		border: solid 1px white;
		border-radius: 60%;
	}

	#portrait-container h1 {
		margin-bottom: .25em;
	}

}

@media screen and (min-width: 62.5em) {

	#stacked-directions {
		display: none;
	}

	#adjacent-directions {
		display: inline;
	}

	#graph-intro {
		float: left;
		width: 47%;
	}

	#my-graph {
		float: right;
		width: 43%;
		padding-left: 1.25em;
		padding-right: 1.5em;
		margin-bottom: .75em;
	}

}

@media screen and (min-width: 65.875em) {

	#portrait-container {
		margin: 3.25em auto;
	}

}  

@media screen and (min-width: 75em) {

	#pictures {
		background: #433623 url("../images/pantheon-large.jpg") no-repeat center;
	}

	#portrait-container {
		width: 35%;
		margin: 10.70% auto;
	}

}

@media screen and (min-width: 85.4375em) {

	#portrait-container {
		margin: 9.07em auto;
	}

}  
