<header class="nav-down" role="banner">
      
	<h1 id="my-name">Tony Okonski</h1> <!-- As an aside, I was using lobster before using lobster was cool. -->
  
  <a href="#" id="menu-trigger" class="not-clicked">MENU</a>
  
  <nav>
    <ul id="nav">
      <li><a href="https://www.linkedin.com/in/tonyokonski" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/tonyokonski" target="_blank">GitHub</a></li>
      <li><a href="http://codepen.io/tonyokonski" target="_blank">CodePen</a></li>
      <li><a href="/#tip-top">Home</a></li>
    </ul>
  </nav>

</header>
