body {
	font-size: 100%;
	font-family: arial, helvetica, sans-serif;
	background-color: #bde8f0;
}

a {
	text-decoration: none;
	color: white;
}

header {
	/*margin: 0 auto 0 auto;*/
	overflow: hidden;
	background-color: #3f3f3f;
	color: white
}

#myName {
	font-family: Lobster, serif;
	font-size: 2em;
	float: left;
	margin: .25em 0 .25em .625em;
}

#menu-trigger {
	float: right;
	margin-right: 1em;
	margin-top: .6em;
	padding: 0.5em;
	border: 1px solid #4f4f4f;
}

#nav {
	display: none;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	clear: both;
}

nav li {
	list-style-type: none;
	padding: .625em 2em;
	border-top: 1px solid #4f4f4f;
}

.clicked {
    background: #5f5f5f;
  }

#mainSection {
	width: 80%;
}

section {
	/*width: 80%;*/
	margin-left: auto;
	margin-right: auto;
}

article {
	color: #3f3f3f;
	font-family: Vollkorn, serif;
}

article h1 {
	font-family: Vollkorn, serif;
	font-style: italic;
}

article a {
	color: #3f3f3f;
	text-decoration: underline;
}

footer {
	/*width: 80%;*/
	margin: 2% auto 0 auto;
	background-color: #3f3f3f;
	color: white;
	overflow: hidden;
}

footer p {
	float:left;
}

footer a {
	text-decoration: underline;
}

footer picture {
	float: right;
}

#fgroup {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}