html {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: arial, helvetica, sans-serif;
	background-color: #bde8f0;
	min-height: 100%;
}

.center {
	margin-left: auto;
	margin-right:auto;
}

img,
object,
video {
	max-width: 100%;
}

#portrait-container {
	float: left;
	margin-right: 1em;
}

a {
	text-decoration: none;
	color: white;
}

header {
	overflow: hidden;
	width: 100%;
	background-color: #3f3f3f;
	color: white;
	display: block;
	/*testing for disappearing header*/
	/*height: 56px;*/
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -56px;
}

/*.menu-padding { 
	padding-top: 65px;
}*/

p {
	margin: .5em auto;
}

/*#top-header {
	background-color: #3f3f3f;
	color: white;
	display: block;
} rolling this into header test */

#my-name {
	font-family: Lobster, serif;
	font-size: 2em;
	float: left;
	margin: .25em 0 .25em .625em;
}

#menu-trigger {
	float: right;
	margin-right: 1em;
	margin-top: .6em;
	padding: 0.5em;
	border: 1px solid #4f4f4f;
}

#nav {
	display: none;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	clear: both;
}

nav li {
	list-style-type: none;
	padding: .625em 2em;
	border-top: 1px solid #4f4f4f;
}

.clicked {
    background: #5f5f5f;
  }

#main-section {
	width: 80%;
}

#main-section h1 {
	margin-bottom: .15em;
}

section {
	color: #3f3f3f;
	font-family: Vollkorn, serif;
	margin-left: auto;
	margin-right: auto;
}

section a {
	color: #3f3f3f;
	text-decoration: underline;
}

small {
	margin-left: auto;
	margin-right: auto;
}

footer {
	/*width: 80%;*/
	margin: 2% auto 0 auto;
	background-color: #3f3f3f;
	font-size: .85em;
	color: white;
	overflow: hidden;
}

footer p {
	float:left;
}

footer a {
	color: white;
	text-decoration: underline;
}

footer picture {
	float: right;
}

#fgroup {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

/* skillset graph styles begin here. */


#graph-container {
	margin: .5em 0;
}

#my-graph {
	background-color: #5e5e5e;
	color: white;
	margin-top: 1em;
	padding: .625em 2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
}

.graph-skill {
	margin-top: .75em;
}

.graph-skill:first-child {
	margin-top: 0;
}

.skill-bar {
	height: 1.5em;
	width: 5%;
	background-color: white;
	/*background: white;*/
	border-radius: 5px;
	margin-top: .10em;
}

.skill-bar:last-child {
	margin-bottom: .5em;
}

#skill-measure{
	height: 3px;
	width: 100%;
	margin-top: 15px;
	background-color: white;
	background: -webkit-linear-gradient(left, yellow , red);
    background: -o-linear-gradient(right, yellow, red);
    background: -moz-linear-gradient(right, yellow, red);
    background: linear-gradient(to right, yellow , red);
}

.skill-caption {
	width: 100%;
}

#yellow {
	float: left;
	color: yellow;
}

#red {
	float: right;
	color: white;
	text-shadow: 0 0 8px red;
}

/* end skillset graph styles */