body {
	font-size: 100%;
	font-family: arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

header {
	margin: 0 auto 0 auto;
	overflow: hidden;
	background-color: #3f3f3f;
	color: white
}

#myName {
	font-family: Lobster, serif;
	font-size: 3em;
	width: 80%;
	margin: 1% auto ;	
}


nav {
	width: 80%;
	margin: 1% auto ;
}

nav ul {
	padding: 0;
	margin: 0 auto;
}

nav li {
	list-style-type: none;
	padding: 2em 0;
	/*float: left;	
	margin-left: 10px;
	font-size: 1.75em;*/
}

/*nav li:first-child {
	margin-left: 10%;
}*/

#mainSection {
	width: 80%;
}

section {
	/*width: 80%;*/
	margin-left: auto;
	margin-right: auto;
}

article {
	color: #3f3f3f;
	font-family: Vollkorn, serif;
}

footer {
	/*width: 80%;*/
	margin: 2% auto 0 auto;
	background-color: #3f3f3f;
	color: white;
	overflow: hidden;
}

footer p {
	float:left;
}

footer picture {
	float: right;
}

#fgroup {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}